.body-left{
  background:white;
}
.am-comment-author {
  font-weight: 700;
  color: #999;
  margin-left: 60px;
  margin-top: 27px;
}
.am-comment-main {
  margin-left:0 !important;
}
.markdown-text img{
  width:80%;
}
.am-comment-meta{
  padding:0 5px;
}
.am-comment-avatar {
  width: 40px;
  height: 40px;
}
.xin li{
  margin-left:6px;
}
.xin{
  position:relative;
}
.xin p{
  position:absolute;
  right:10px;
  bottom:-17px;
}
